/* Mask Image */

div.box01{
    -webkit-mask-image: url(/root/images/png/peixe.png);
     mask-image: url(/root/images/png/peixe.png);
     -webkit-mask-repeat:repeat;
     mask-repeat:repeat;
     -webkit-mask-position:center;
     mask-position:center;
     -webkit-mask-size:40%;
     mask-size:40%;
     width:40%;

}
div.box01 img{
    width:100%;
} 